{{#is this 'form-param'}}{{#isNot this 'file'}}@FormParam(value = "{{baseName}}")  {{{dataType}}} {{paramName}}{{/isNot}}{{#is this 'file'}} @FormParam(value = "{{baseName}}") InputStream {{paramName}}InputStream,
   @FormParam(value = "{{baseName}}") Attachment {{paramName}}Detail{{/is}}{{/is}}