{{#authMethods}}
{{#is this 'basic'}}
    principals.add(call.authentication.principal<UserIdPrincipal>())
{{/is}}
{{#is this 'api-key'}}
    principals.add(call.authentication.principal<ApiPrincipal>())
{{/is}}
{{#is this 'oauth'}}
    principals.add(call.authentication.principal<OAuthAccessTokenResponse>())
{{/is}}
{{/authMethods}}
