{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"net/http"
) 
{{#operation}}
func {{classname}}{{nickname}}(w http.ResponseWriter, r *http.Request) {
	msg := "hello world!"
	// business code here.
	HttpRendHtml(w,http.StatusOK, msg)
}

{{/operation}}
{{/operations}}