{{>partial_header}}
package main

import (
	"log"
    "os"
	"time"
	"net/http"

	sw "dummy.swagger.io/{{packageName}}"
)

func main() {
    addr := "127.0.0.1:{{serverPort}}"
	
	if len(os.Args)>=2 {
		addr = os.Args[1] // example: ":8080"
	}

	router := sw.NewRouter()
	log.Printf("Server started at %s", addr)

	srv := &http.Server{
		Handler: router,
		Addr:    addr,
		// Good practice: enforce timeouts for servers you create!
		WriteTimeout: 90 * time.Second,
		ReadTimeout:  90 * time.Second,
	}

	log.Fatal(srv.ListenAndServe())
}
