package {{package}};

{{#imports}}import {{import}};
{{/imports}}
{{#useBeanValidation}}
import javax.validation.constraints.*;
{{/useBeanValidation}}
{{#models}}
{{#model}}{{#description}}
/**
 * {{description}}
 **/{{/description}}
{{#is this 'enum'}}{{>enumClass}}{{/is}}
{{#isNot this 'enum'}}{{>pojo}}{{/isNot}}
{{/model}}
{{/models}}
