{{#is this 'body-param'}}@ApiParam(value = "{{{description}}}" {{#required}},required=true{{/required}} {{#isNot this 'container'}}{{#allowableValues}}, allowableValues="{{{allowableValues}}}"{{/allowableValues}}{{/isNot}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}})  {{#useBeanValidation}}@Valid{{/useBeanValidation}} @RequestBody {{{dataType}}} {{paramName}}{{/is}}