{{#required}}
  @NotNull
{{/required}}{{#is this 'container'}}{{#isNot this 'primitive-type'}}{{^isEnum}}
  @Valid{{/isEnum}}{{/isNot}}{{/is}}{{#isNot this 'container'}}{{#isNot this 'primitive-type'}}
  @Valid{{/isNot}}{{/isNot}}
{{>beanValidationCore}}
