{{>licenseInfo}}

package {{package}};

import {{invokerPackage}}.ApiException;
{{#imports}}import {{import}};
{{/imports}}
import org.junit.Test;
import org.junit.Ignore;

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}

/**
 * API tests for {{classname}}
 */
@Ignore
public class {{classname}}Test {

    private final {{classname}} api = new {{classname}}();

    {{#operations}}{{#operation}}
    /**
     * {{summary}}
     *
     * {{notes}}
     *
     * @throws ApiException
     *          if the Api call fails
     */
    @Test
    public void {{operationId}}Test() throws ApiException {
        {{#allParams}}
        {{^isFormParam}}
        {{{dataType}}} {{paramName}} = null;
        {{/isFormParam}}
        {{/allParams}}
        {{#returnType}}{{{returnType}}} response = {{/returnType}}api.{{operationId}}({{#allParams}}{{^isFormParam}}{{paramName}}{{#has this 'more-but-form-param'}}, {{/has}}{{/isFormParam}}{{/allParams}});

        // TODO: test validations

        {{#hasFormParams}}
        {{#allParams}}
        {{^isBodyParam}}
        {{{dataType}}} {{paramName}} = null;
        {{/isBodyParam}}
        {{/allParams}}
        response = api.{{operationId}}({{#allParams}}{{^isBodyParam}}{{paramName}}{{#has this 'more'}}, {{/has}}{{/isBodyParam}}{{/allParams}});
        {{/hasFormParams}}

        // TODO: test validations
    }
    {{/operation}}{{/operations}}
}
