{{#required}}{{^useNullableForNotNull}}
  @NotNull
{{/useNullableForNotNull}}{{/required}}
{{#useNullableForNotNull}}{{^nullable}}
  @NotNull
{{/nullable}}{{/useNullableForNotNull}}
{{>beanValidationCore}}