{{#is this 'header-param'}}{{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation}} @HeaderParam("{{baseName}}"){{#defaultValue}} @DefaultValue("{{{defaultValue}}}"){{/defaultValue}} 
{{#useOas2}}{{#description}} @ApiParam("{{description}}"){{/description}} {{{dataType}}} {{paramName}}{{/useOas2}}
{{^useOas2}}{{#description}} @Parameter(description = "{{description}}"){{/description}} {{{dataType}}} {{paramName}}{{/useOas2}}
{{/is}}