{{#is this 'path-param'}}{{#useBeanValidation}}{{>beanValidationPathParams}}{{/useBeanValidation}} @PathParam("{{baseName}}")
{{#useOas2}}{{#description}} @ApiParam("{{description}}"){{/description}} {{{dataType}}} {{paramName}}{{/useOas2}}
{{^useOas2}}{{#description}} @Parameter(description = "{{description}}"){{/description}} {{{dataType}}} {{paramName}}{{/useOas2}}
{{/is}}