/**
* {{#description}}{{.}}{{/description}}{{^description}}{{classname}}{{/description}}
*/
public interface {{{classname}}} {

{{#vendorExtensions}}
{{#x-discriminator-type-getter}}
    {{x-discriminator-type}} {{x-discriminator-type-getter}}();
{{/x-discriminator-type-getter}}
{{/vendorExtensions}}
}
