package {{package}};

import {{configPackage}}.ClientConfiguration;
import org.springframework.cloud.openfeign.FeignClient;

{{=<% %>=}}
@FeignClient(name="${<%title%>.name:<%title%>}", url="${<%title%>.url:<%basePath%>}", configuration = ClientConfiguration.class)
<%={{ }}=%>
public interface {{classname}}Client extends {{classname}} {
}