{{#isFormParam}}{{#notFile}}@RequestParam(value="{{baseName}}"{{#required}}, required=true{{/required}}{{^required}}, required=false{{/required}})  {{{dataType}}} {{paramName}}{{/notFile}}{{#isFile}}@RequestParam("{{baseName}}") MultipartFile {{paramName}}{{/isFile}}{{/isFormParam}}