{{>licenseInfo}}

import * as api from "./api"

{{#apiInfo}}
{{#apis}}
{{#operations}}
describe("{{classname}}", () => {
  let instance: api.{{classname}}
  beforeEach(function() {
    instance = new api.{{classname}}()
  });

{{#operation}}
  test("{{operationId}}", () => {
    {{#allParams}}
    const {{{paramName}}}: {{^isPrimitiveType}}api.{{/isPrimitiveType}}{{{dataType}}} = {{>api_test_default_value}}
    {{/allParams}}
    expect(instance.{{operationId}}({{#allParams}}{{{paramName}}}, {{/allParams}}{})).toBe(null)
  })
{{/operation}}
})

{{/operations}}
{{/apis}}
{{/apiInfo}}