package {{apiPackage}}

import io.reactivex.*
import it.sky.msa.sdk.codegenSupport.*
import retrofit2.http.*

{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
interface {{classname}} {

{{#operation}}
    {{#formParams}}
    {{#@first}}
    {{#isMultipart}}@Multipart{{/isMultipart}}{{^isMultipart}}@FormUrlEncoded{{/isMultipart}}
    {{/@first}}
    {{/formParams}}
    {{^formParams}}
    {{#prioritizedContentTypes}}
    {{#@first}}
    @Headers({"Content-Type:{{{mediaType}}}"})
    {{/@first}}
    {{/prioritizedContentTypes}}
    {{/formParams}}
    @{{httpMethod}}("{{{path}}}")
    fun {{operationId}}({{^allParams}}){{/allParams}}
        {{#contents}}{{#parameters}}
        {{#isQueryParam}}{{>libraries/retrofit2/queryParams~}}{{/isQueryParam~}}{{#isPathParam}}{{>libraries/retrofit2/pathParams~}}{{/isPathParam~}}{{#isHeaderParam}}{{>libraries/retrofit2/headerParams~}}{{/isHeaderParam~}}{{#isBodyParam}}{{>libraries/retrofit2/bodyParams~}}{{/isBodyParam~}}{{#isFormParam}}{{>libraries/retrofit2/formParams~}}{{/isFormParam~}}{{#hasMore}},{{/hasMore}}
        {{/parameters}}{{/contents}}
        ) : {{#returnType}}Single<{{#isResponseFile}}ResponseBody{{/isResponseFile}}{{^isResponseFile}}{{{returnType}}}{{/isResponseFile}}>{{/returnType}}{{^returnType}}Completable{{/returnType}}


{{/operation}}
}
{{/operations}}