/**
 * {{{description}}}
{{#allVars}}
 * @param {{name}} {{{description}}}
{{/allVars}}
 */
@JsonClass(generateAdapter = true)
{{#hasVars}}data {{/hasVars}}class {{classname}} (

{{#allVars}}
    {{>data_class_val}}{{^@last}},
    {{/@last}}
{{/allVars}}
)

{{#allVars}}
{{#isEnum}}
    /**
    * {{{description}}}
    * Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^@last}},{{/@last}}{{/enumVars}}{{/allowableValues}}
    */
    enum class {{classname}}{{nameInCamelCase}}(val value: {{datatype}}{{#isNullable}}?{{/isNullable}}){
    {{#allowableValues}}{{#enumVars}}
        @Json(name = {{{value}}})
        {{&name}}({{#value}}{{{value}}}{{/value}}{{^value}}null{{/value}}){{^@last}},{{/@last}}{{#@last}};{{/@last}}
    {{/enumVars}}{{/allowableValues}}
    }
{{/isEnum}}
{{/allVars}}
