/**
* {{{description}}}
{{#vars}}
    * @param {{name}} {{{description}}}
{{/vars}}
*/
data class {{classname}} (
{{#allVars}}
{{>data_class_val}}{{^@last}},
{{/@last}}
{{/allVars}}
)


{{#has this 'enums'}}{{#vars}}{{#is this 'enum'}}
/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^@last}},{{/@last}}{{/enumVars}}{{/allowableValues}}
*/
enum class {{classname}}{{nameInCamelCase}}(val value: {{datatype}}){
{{#allowableValues}}{{#enumVars}}
    @SerializedName({{{value}}})
    {{&name}}({{{value}}}){{^@last}},{{/@last}}{{#@last}};{{/@last}}
{{/enumVars}}{{/allowableValues}}
}
{{/is}}{{/vars}}{{/has}}