/**
 * {{{description}}}
 * Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^@last}},{{/@last}}{{/enumVars}}{{/allowableValues}}
 */
@GenerateMocker
enum class {{classname}}(val value: {{dataType}}){
{{#allowableValues}}{{#enumVars}}
    @Json(name = {{{value}}})
    {{&name}}({{#value}}{{{value}}}{{/value}}{{^value}}null{{/value}}){{^@last}},{{/@last}}{{#@last}}{{/@last}}
{{/enumVars}}{{/allowableValues}}
}
