{{#isPathParam}}{{#useBeanValidation}}{{>beanValidationPathParams}}{{/useBeanValidation}}{{#useOas2}}@ApiParam(value = "{{{description}}}"{{#required}},required=true{{/required}}{{>allowableValuesAndDefaultValue}}) @PathVariable("{{baseName}}") {{>optionalDataType}} {{paramName}}{{/useOas2}}{{^useOas2}}@Parameter(description = "{{{description}}}"{{#required}},required=true{{/required}}{{>allowableValuesAndDefaultValue}}) @PathVariable("{{baseName}}") {{>optionalDataType}} {{paramName}}{{/useOas2}}{{/isPathParam}}