{{#if returnContainer}}{{#is this 'map-container'}}Map<String, {{{returnType}}}>{{/is}}{{#is this 'list-container'}}List<{{{returnType}}}>{{/is}}{{/if}}{{^returnContainer}}{{{returnType}}}{{/returnContainer}}