package {{package}};

{{#imports}}import {{import}};
{{/imports}}
{{#useBeanValidation}}
import javax.validation.constraints.*;
{{/useBeanValidation}}

{{#models}}
{{#model}}
{{#is this 'enum'}}
{{>enumOuterClass}}
{{/is}}
{{#isNot this 'enum'}}
{{>pojo}}
{{/isNot}}
{{/model}}
{{/models}}
