[tox]
envlist = py3

[testenv]
deps=-r{toxinidir}/requirements.txt
     -r{toxinidir}/test-requirements.txt

commands=
{{^asyncio}}
   nosetests \
      []
{{/asyncio}}
{{#asyncio}}
   pytest -v --cov petstore_api
{{/asyncio}}
