micronaut:
  application:
    name: {{artifactId}}
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
  server:
    cors:
      enabled: true
      configurations:
        web:
          allowedOrigins: *
          allowedMethods:
            - GET
            - POST
            - DELETE
            - PUT
          allowedHeaders:
            - Content-Type
            - Authorization