{{^useLombokModel}}
{{#required}}
@NotNull
{{/required}}
{{/useLombokModel}}
{{#isContainer}}{{^isPrimitiveType}}{{^isEnum}}
  @Valid{{/isEnum}}{{/isPrimitiveType}}{{/isContainer}}{{#isNotContainer}}{{^isPrimitiveType}}
  @Valid{{/isPrimitiveType}}{{/isNotContainer}}
{{>beanValidationCore}}
