{{#isHeaderParam}}@Parameter(description = "{{{description}}}" {{#defaultValue}}, defaultValue = "{{{defaultValue}}}"{{/defaultValue}}) @Header(value = "{{baseName}}") {{>optionalDataType}} {{paramName}}{{/isHeaderParam}}
