{{#isPathParam}}{{!
    PathParam is always required, no @NotNull necessary
}}{{>beanValidationParams}}@Parameter(description = "{{{description}}}") @PathVariable("{{baseName}}") {{>optionalDataType}} {{paramName}}{{/isPathParam}}