package {{configPackage}};


import io.micronaut.context.annotation.Requires;
import io.micronaut.http.HttpRequest;
import io.micronaut.http.HttpResponse;
import io.micronaut.http.HttpStatus;
import io.micronaut.http.annotation.Produces;
import io.micronaut.http.server.exceptions.ExceptionHandler;

import javax.inject.Singleton;

@Produces
@Singleton
@Requires(classes = {UnsupportedOperationException.class, ExceptionHandler.class})
public class UnsupportedOperationExceptionHandler implements ExceptionHandler<UnsupportedOperationException, HttpResponse> {

    @Override
    public HttpResponse handle(HttpRequest request, UnsupportedOperationException exception) {
        return HttpResponse.status(HttpStatus.NOT_IMPLEMENTED);
    }
}