{{#required}}{{^useNullableForNotNull}}
  @NotNull
{{/useNullableForNotNull}}{{/required}}
{{#useNullableForNotNull}}{{^nullable}}
  @NotNull
{{/nullable}}{{/useNullableForNotNull}}
{{#isContainer}}
{{^isPrimitiveType}}
{{^isEnum}}
  @Valid
{{/isEnum}}
{{/isPrimitiveType}}
{{/isContainer}}
{{#isNotContainer}}
{{^isPrimitiveType}}
  @Valid
{{/isPrimitiveType}}
{{/isNotContainer}}
{{>beanValidationCore}}
