package {{package}};

{{^x-is-composed-model}}
{{#imports}}import {{import}};
{{/imports}}
{{#useBeanValidation}}
import javax.validation.constraints.*;
{{/useBeanValidation}}
{{/x-is-composed-model}}
{{#models}}
{{#model}}
{{#isComposedModel}}
{{>interface}}
{{/isComposedModel}}
{{^isComposedModel}}
{{#description}}
/**
 * {{description}}
 **/{{/description}}
{{#is this 'enum'}}{{>enumClass}}{{/is}}
{{#isNot this 'enum'}}{{>pojo}}{{/isNot}}
{{/isComposedModel}}
{{/model}}
{{/models}}
