import Foundation
import SkyTestFoundation
import {{packageName}}

{{#models}}{{#model}}
public extension {{classname}} {
{{#isEnum}}
    static func mock() -> {{classname}} {
        {{classname}}.allCases.randomElement()!
    }
{{/isEnum}}
{{^isEnum}}
    static func mock({{#allVars}}{{name}}: {{{datatypeWithEnum}}}{{^required}}? = nil{{/required}}{{#required}} = {{#is this 'container'}}[]{{/is}}{{#isNot this 'container'}}{{{datatypeWithEnum}}}.mock(){{/isNot}}{{/required}}{{#has this 'more'}}, {{/has}}{{/allVars}}) -> {{classname}} {
        {{classname}}({{#allVars}}{{name}}: {{name}}{{#has this 'more'}}, {{/has}}{{/allVars}})
    }
{{/isEnum}}
}

{{/model}}{{/models}}

