@ModuleGen(name = "service", groupPackage = "{{apiPackage}}", useFutures = {{#useFuture}}true{{/useFuture}}{{^useFuture}}false{{/useFuture}})
package {{apiPackage}};

import io.vertx.codegen.annotations.ModuleGen;
