{{#is this 'form-param'}}{{#isNot this 'binary'}}{{#isNot this 'multipart'}}@ApiParam(value = "{{{description}}}"{{#required}}, required=true{{/required}}{{#allowableValues}}, {{> allowableValues }}{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}}){{/isNot}}{{#is this 'multipart'}}@FormDataParam("{{baseName}}")  {{{dataType}}} {{paramName}}{{/is}}{{#isNot this 'multipart'}} {{#defaultValue}} @DefaultValue("{{{defaultValue}}}"){{/defaultValue}} @FormParam("{{baseName}}")  {{{dataType}}} {{paramName}}{{/isNot}}{{/isNot}}{{#is this 'binary'}}@FormDataParam("{{baseName}}") InputStream inputStream,
    @FormDataParam("{{baseName}}") FormDataContentDisposition fileDetail{{/is}}{{/is}}