"{{baseName}}": {{paramName}}{{#isNot this 'enum'}}{{#is this 'integer'}}{{^required}}?{{/required}}.encodeToJSON(){{/is}}{{#is this 'long'}}{{^required}}?{{/required}}.encodeToJSON(){{/is}}{{/isNot}}{{#is this 'enum'}}{{#isNot this 'container'}}{{^required}}?{{/required}}.rawValue{{/isNot}}{{/is}}{{#is this 'date'}}{{^required}}?{{/required}}.encodeToJSON(){{/is}}{{#is this 'date-time'}}{{^required}}?{{/required}}.encodeToJSON(){{/is}}