{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "swagger client for {{npmName}}",
  "author": "Swagger Codegen Contributors",
  "keywords": [
    "fetch",
    "typescript",
    "swagger-client",
    "{{npmName}}"
  ],
  "license": "Unlicense",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
  "scripts" : {
    "build": "tsc --outDir dist/",
    "test": "jest",
    "prepublishOnly": "npm run build"
  },
  "dependencies": {
    "isomorphic-fetch": "^3.0.0"
  },
  "devDependencies": {
    "@types/jest": "^25.2.1",
    "@types/node": "^13.13.0",
    "jest": "^25.4.0",
    "ts-jest": "^25.4.0",
    "typescript": "^3.8.3"
  },
  "jest": {
    "transform": {
      "^.+\\.tsx?$": "ts-jest"
    },
    "testRegex": "(/__tests__/.*|(\\.|/)(test|spec))\\.tsx?$",
    "moduleFileExtensions": ["ts", "tsx", "js", "jsx", "json", "node"]
  }{{#npmRepository}},
  "publishConfig":{
    "registry":"{{npmRepository}}"
  }
{{/npmRepository}}
}
