{{#discriminator}}
    export type {{classname}} = {{dataType}};
{{/discriminator}}
{{^discriminator}}
    export interface {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{ {{>modelGenericAdditionalProperties}}
    {{#vars}}
        {{#description}}
            /**
            * {{{description}}}
            */
        {{/description}}
        {{#is this 'read-only'}}readonly {{/is}}{{name}}{{^required}}?{{/required}}: {{#discriminatorValue}}'{{discriminatorValue}}'{{/discriminatorValue}}{{^discriminatorValue}}{{#is this 'enum'}}{{{datatypeWithEnum}}}{{/is}}{{#isNot this 'enum'}}{{{datatype}}}{{/isNot}}{{/discriminatorValue}};
    {{/vars}}
    }{{>modelGenericEnums}}
{{/discriminator}}
