{{#authMethods}}
{{#is this 'basic'}}
val principal = call.authentication.principal<UserIdPrincipal>()
{{/is}}
{{#is this 'api-key'}}
val principal = call.authentication.principal<ApiPrincipal>()
{{/is}}
{{#is this 'oauth'}}
val principal = call.authentication.principal<OAuthAccessTokenResponse>()
{{/is}}
{{/authMethods}}
