{
    "name": "secuconnect/secuconnect-php-sdk",
    "version": "{{artifactVersion}}",
    "homepage": "https://github.com/secuconnect/secuconnect-php-sdk",
    "license": "Apache-2.0",
    "authors": [
        {
            "name": "secuconnect KG",
            "homepage": "https://developer.secuconnect.com/"
        }
    ],
    "require": {
        "php": ">=7.1",
        "ext-curl": "*",
        "ext-json": "*",
        "ext-mbstring": "*",
        "psr/cache": "~1.0",
        "psr/log": "~1.1"
    },
    "require-dev": {
        "phpunit/phpunit": "~7.5|^8|^9"
    },
    "suggest": {
        "ext-stomp": "Needed to support behaviours for cash registers (like End-Of-Day-Report)",
        "react/stomp":  "Needed to support behaviours for cash registers (like End-Of-Day-Report)"
    },
    "autoload": {
        "psr-4": {
            "{{escapedInvokerPackage}}\\" : "{{srcBasePath}}/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "{{escapedInvokerPackage}}\\" : "{{testBasePath}}/"
        }
    },
    "scripts": {
        "test": "phpunit -c phpunit.xml.dist"
    }
}
