<?php
{{#models}}
{{#model}}

namespace {{modelPackage}};
{{#isComposedModel}}

{{>interface}}
{{/isComposedModel}}
{{^isComposedModel}}
{{^isEnum}}
{{^parentSchema}}

use \ArrayAccess;
{{/parentSchema}}
{{/isEnum}}

/**
 * {{classname}}
 *
 * @category Class
{{#description}}
 * @description {{description}}
{{/description}}
 * @package  {{invokerPackage}}
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
{{#isEnum}}{{>model_enum}}{{/isEnum}}{{^isEnum}}{{>model_generic}}{{/isEnum}}
{{/isComposedModel}}
{{/model}}{{/models}}
