<?php
{{#models}}
{{#model}}

namespace {{modelPackage}};
{{^isEnum}}
{{^parentSchema}}

use \ArrayAccess;
{{/parentSchema}}
{{/isEnum}}
use {{backSlash}}{{invokerPackage}}\ObjectSerializer;

/**
 * {{classname}}
 *
 * @category Class
{{#description}}
 * @description {{description}}
{{/description}}
 * @package  {{invokerPackage}}
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
{{#isEnum}}{{>model_enum}}{{/isEnum}}{{^isEnum}}{{>model_generic}}{{/isEnum}}
{{/model}}{{/models}}
