# Secuconnect PHP SDK


## Documentation

For more information please visit: [https://developer.secuconnect.com/](https://developer.secuconnect.com)

- API version: {{appVersion}}
- SDK version: {{artifactVersion}}


## Requirements

PHP 5.6 and later


## Installation & Usage

### Composer

To install the bindings via [Composer](http://getcomposer.org/), add the following to `composer.json`:

```
{
  "require": {
    "secuconnect/secuconnect-php-sdk": "~{{artifactVersion}}",
  }
}
```

Then run `composer install`


## Tests

To run the unit tests:

```
composer run test
```

## Getting Started

Please take a look at our demo code: [https://github.com/secuconnect/secuconnect-php-sdk-demo](https://github.com/secuconnect/secuconnect-php-sdk-demo)

