name: Build Test PR

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build_pr:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
    steps:
      - uses: actions/checkout@v4
        name: git checkout
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven
          overwrite-settings: false
      - name: Add Central-Portal snapshot repo to settings.xml
        uses: s4u/maven-settings-action@v3.1.0
        with:
          repositories: '[{"id":"central-portal-snapshots","name":"Sonatype Central Portal snapshots","url":"https://central.sonatype.com/repository/maven-snapshots/","releases":{"enabled":false},"snapshots":{"enabled":true}}]'
          servers: '[{"id":"central","username":"${{ secrets.MAVEN_CENTRAL_USERNAME }}","password":"${{ secrets.MAVEN_CENTRAL_PASSWORD }}"}]'
      - name: preliminary checks
        run: |
          docker login --username=${{ secrets.DOCKERHUB_SB_USERNAME }} --password=${{ secrets.DOCKERHUB_SB_PASSWORD }}
          set -e
          # fail if templates/generators contain carriage return '\r'
          /bin/bash ./bin/utils/detect_carriage_return.sh
          # fail if generators contain merge conflicts
          /bin/bash ./bin/utils/detect_merge_conflict.sh
          # fail if generators contain tab '\t'
          /bin/bash ./bin/utils/detect_tab_in_java_class.sh
      - name: Build with Maven
        run: |
          export MY_POM_VERSION=`mvn -Dswagger-codegen-version=3.0.38 -q -Dexec.executable="echo" -Dexec.args='${projects.version}' --non-recursive org.codehaus.mojo:exec-maven-plugin:1.3.1:exec`
          echo "POM VERSION" ${MY_POM_VERSION}
          export CODEGEN_VERSION=`sed -n 's/<swagger\-codegen\-version>\([^\s]*\)<\/swagger\-codegen\-version>/\1/p' pom.xml`
          export CODEGEN_VERSION=`echo ${CODEGEN_VERSION} | tr -d '[:space:]'`
          echo "CODEGEN_VERSION" ${CODEGEN_VERSION}
          export CODEGEN_VERSION_PROPERTY=""
          if [[ ! $MY_POM_VERSION =~ ^.*SNAPSHOT$ ]];
          then
            if [[ ! $CODEGEN_VERSION =~ ^.*SNAPSHOT$ ]];
            then
              # check release version exists
              export CODEGEN_FOUND_JSON=`curl -s --max-time 60 --retry 15 --connect-timeout 20 https://central.sonatype.com/solrsearch/select?q=g:io.swagger.codegen.v3%20AND%20a:swagger-codegen%20AND%20v:${CODEGEN_VERSION}%20AND%20p:jar`
              export CODEGEN_FOUND=`echo ${CODEGEN_FOUND_JSON} | jq '.response.numFound'`
              echo "CODEGEN_FOUND" ${CODEGEN_FOUND}
              if [[ $CODEGEN_FOUND == '0' ]];
              then
                echo "codegen version not found"
                rm -f maven-metadata.xml
                SNAP_API="https://central.sonatype.com/repository/maven-snapshots"
                ARTIFACT_PATH="io/swagger/codegen/v3/swagger-codegen"
                ROOT_META="${SNAP_API}/${ARTIFACT_PATH}/maven-metadata.xml"
                export LAST_SNAP=$(curl -s "$ROOT_META" | grep -oP '(?<=<version>)3\.[^<]+' | sort -V | tail -n1)
                echo "LAST_SNAP $LAST_SNAP"
                export CODEGEN_VERSION_PROPERTY=-Dswagger-codegen-version=$LAST_SNAP
              fi
            fi
          fi
          echo "CODEGEN_VERSION_PROPERTY ${CODEGEN_VERSION_PROPERTY}"
          echo "CODEGEN_VERSION_PROPERTY=${CODEGEN_VERSION_PROPERTY}" >> $GITHUB_ENV
          ./mvnw clean verify -U ${CODEGEN_VERSION_PROPERTY}
    env:
      GENERATORS_VERSION_PROPERTY: ""
      MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
      MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
